@{
    ViewData["Title"] = "Order Confirmed";
}

<div class="container mt-5">
    <div class="alert alert-success text-center">
        <h2>Thank you!</h2>
        <p>Your Order has been successfully placed</p>
        <p>Our team is preparing your order. Please wait patiently</p>
    </div>
</div>